body{
    background-color: #ffffff;
}

header{
    min-height: 50px;
    color: black;
    text-transform: capitalize;
    overflow: hidden;

}
.container{
    margin: 40px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
   
}
.navlist, .ref{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 14px;
}
.headnav ul li{
    display: inline-block;
    padding-right: 5px;
}
.headnav ul li a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    padding: 10px;
    font-size: 16px;

}
.btnheader{
    font-size: 13px;
    padding: 10px;
    text-transform: capitalize;
    border: 1px solid lightgray;
    margin-top: 8px;
    background-color: rgba(0,0,0,0.01);
    padding-left: 5px;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    line-height: 2px;
}
.ps1{
    color: orangered;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.h1s1{
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 1px;
}
.p2s1{
    color: gray;
}
.btn{
    padding: 15px 30px;
    color: orangered;
    border: none;
    background-color: rgba(0,0,0,0.01);
    text-transform: capitalize;

}
 .btn:hover{
    background-color: blue;
    color: #f3f3f3;
}
.active {
    background-color: blue;
    color: #f3f3f3;
}
.image1{
    background-image: url(../img/cart6.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}
.cards, .galcads{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-gap: 20px;
    padding: 50px 100px;
    height: 400px;
}
.card {
    text-align: center;
    padding: 40px;
    box-shadow: 0 0 8px rgb(178, 178, 209,0.5);
}
.card img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}
.card h4{
    text-transform: capitalize;
}
.btnl{
    padding: 10px 20px;
    text-transform: capitalize;
    border: none;
    margin-top: 40px;
}

.btnc1{
    background-color: rgba(5, 90, 49, 0.2);
    color: #055a31;
}
.btnc2{
    background-color: rgba(197, 191, 191, 0.3);
    color: #555;
}
.btnc3{
    background-color: rgba(240, 41, 79, 0.1);
    color: #cb0c29;
}
.green{
    text-transform: capitalize;
    color: #f6662a;
}
.welcome{
    margin:40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.welcome img{
    height: 400px;
    width: 600px;
}
.events {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.events img{
    height: 400px;
    width: 400px;
}
.points{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.point{
    font-weight: 600;
}
.nums p{
    display: inline-block;
    padding: 10px;
}
.numb{
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    padding: 20px;
    border-right: 1px dashed green;

}
.a{
    border-right: none;
}
.head{
text-transform: capitalize;
color:black;
text-align: center;
}
.gallerynav ul li{
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #555;
}
.gallerynav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    
}
.gallerynav ul li:hover{
    border-bottom: 2px solid rgb(7, 95, 29);
}
.galleryimages{
    padding: 30px 0;
    display: grid; 
 grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
.membership{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 30px;
}
.memleft{
    padding:10px;
}

.membership p{
    color: #999;
    font-size: 13px;
    line-height: 3;
}
.memcard{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;

}
.memcard1{
text-align: center;
border: 0.5px solid rgba(0,0,0,0.1);
padding: 30px;

}
.h4{
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
}
.price{
    background-color: darkcyan;
    color: #ffffff;
    padding: 15px;
    margin: 0 60px;
    border-radius: 0 0 50% 50%;
    line-height: 1
}

.tag{
    font-size: 30px;
    font-weight: 600;
}
.prc1{
    background-color: #f6662a;
}
.btnm{
    padding: 15px 30px;
    border: none;
    color: #ffffff;
}
.membtn1{
    background-color: darkcyan;
}
.membtn2{
    background-color: #f6662a;
}
.latest_blog{
    text-align: center;
    margin-bottom: 0;
}
.latest_blog p, .subscribe p{
    text-align: center;
    color: #999;
}
.galcad{
    border: none;
   

}
.gc2{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.blog_writeup{
    padding: 0 50px;
}
.blog_writeup p{
    font-size: 13px;
    color: #999;
}
.blog_btn{
    margin: 20px; 
    padding: 15px 20px;
    color: #999;
    background-color:  rgba(0,0,0,0.01);
    border: 1px solid lightgray;
}
.highlight{
    background-color: #f6662a;
    color: #ffffff;
    border: none;
}
.subscribe{
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
input{
    padding: 8px;
    width: 250px;
    border: 0.5px solid rgba(0,0,0,0.1);
}
form button{
    padding: 8px 12px;
    background-color: rgb(30, 218, 218);
    border: none;
    color: #ffffff;
}

.footgrid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    border:none;
    padding: 15px;
    margin: 10px;
}
.greed{
    padding: 40px;
}
.greed strong{
    color: #555;
}
.greed p{
    color: #999;
    font-size: 15px;
}
.mainfuta{
    margin: 0;
   padding: 10px;
   text-align: center;
   border: 0.5px solid rgba(0,0,0,0.1);
}














